# Mac files
.DS_Store

# Vim
*.swp

# CC
a.out
*.o
*.s
*.gch

# Apricosim
aprsim
aprsim.exe

# Make/Automake/Autoconf/Configure
.deps/
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
