# Mac files
.DS_Store

# Vim
*.swp

# CC
a.out
*.o
*.gch

# Apricosim
aprsim

# Make/Automake/Autoconf/Configure
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
compile
depcomp
install-sh
missing
.deps/
